
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    width: 100%;
    min-height: 100vh;
} */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
.GameField{
    position: relative;
    width: 598px;
    height: 598px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}
.gameСell{
    width: 198px;
    height: 198px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}
.gameСell7, .gameСell8, .gameСell9 {
    border-bottom: none
}
.gameСell0, .gameСell3, .gameСell6{
    border-left: none;
}
.gameСell6{
    border-bottom: none;
}
.firstCross{
    width: 180px;
    height: 180px;
}
.gameСell{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonText{
    font-size: 30px;
}
.newGameButton{
    width: 250px;
    height: 70x;
    border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(220, 0, 0, 1);
        background-image: linear-gradient(to top left,
                rgba(0, 0, 0, .2),
                rgba(0, 0, 0, .2) 30%,
                rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
            inset -2px -2px 3px rgba(0, 0, 0, .6);
           /* position: absolute; */
           top: 0;
           left: 0;
           z-index: 200;
         
}
.newGameButton:hover {
    background-color: rgba(255, 0, 0, 1);
}
.newGameButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.winnerText{
position: absolute;
top: 50px;
font-size: 50px;
color: rebeccapurple;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.PopUpContent{
    position: absolute;
    top: -1000px;
    left: 925px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 650px;
    border: 3px solid black;
    background: gray;
    /* opacity: 0.8; */
    z-index: 5;
    border-radius: 50px;
}
.winnerWindow{
    transition: 0.5s;
    top: 300px;
    left: 32%;
}
.hidden{
    visibility: hidden;
}   

